<template>
  <v-app id="inspire">
    <v-app-bar
      v-if="showCommonPanel"
      clipped-left
      app
    >
      <v-app-bar-nav-icon
        @click.stop="drawerOpened = !drawerOpened"
      />
      <v-toolbar-title>Ситема планування та контролю проектів у сфері розробки програмного забеспечення</v-toolbar-title>
      <v-container
        class="d-flex align-center ml-auto mr-0"
        style="width: auto"
      >
        <v-switch
          v-model="themeToggle"
          class="theme-toggle"
          style="padding-top: 13px"
          :label="`Тема: ${themeToggle ? 'Темна' : 'Біла'}`"
          @change="changeTheme"
        />
        <span
          class="user-name ml-5"
          @click="goToProfile"
        >{{ userName }}</span>
        <v-icon
          class="ml-6"
          @click="logout"
        >
          mdi-logout
        </v-icon>
      </v-container>
    </v-app-bar>
    <v-navigation-drawer
      v-if="showCommonPanel"
      v-model="drawerOpened"
      clipped
      app
    >
      <v-list dense>
        <v-list-item
          v-for="item in menuItems"
          v-show="!item.disabled"
          :key="item.title"
          @click="goTo(item.link)"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-html="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container
        fluid
        fill-height
        class="pa-0"
      >
        <v-layout
          justify-center
          :class="{'pa-10': showCommonPanel}"
        >
          <router-view />
        </v-layout>
      </v-container>
    </v-main>
    <v-footer
      v-if="showCommonPanel"
      app
    >
      <span class="d-flex mx-auto">&copy; 2022</span>
    </v-footer>
  </v-app>
</template>

<script>
import axios from './api/backend';

export default {
  name: 'App',
  data: () => ({
    drawerOpened: null,
    themeToggle: false,
  }),
  computed: {
    userName() {
      return this.$store.state.common.user.firstName;
    },
    showCommonPanel() {
      return this.$store.state.common.authenticated;
    },
    isAdmin() {
      return this.$store.state.common.user.access === 'admin';
    },
    menuItems() {
      return [
        {
          title: 'Статистика витраченого<br>часу на проектах',
          icon: 'mdi-ballot-recount-outline',
          link: 'projects-logs-page',
        },
        {
          title: 'Статистика дефектів<br>на проектах',
          icon: 'mdi-bug',
          link: 'projects-bugs-page',
        },
        {
          title: 'Аналітика проекту',
          icon: 'mdi-text-box-search-outline',
          link: 'project-page',
        },
        {
          title: 'Планування проектів',
          icon: 'mdi-clipboard-list-outline',
          link: 'projects-portfolio-page',
        },
        {
          title: 'Панель адміністратора',
          icon: 'mdi-shield-crown-outline',
          link: 'admin-panel-page',
          disabled: !this.isAdmin,
        },
      ];
    },
  },
  created() {
    const enableDarkMode = localStorage.getItem('vuetify-mode-dark') === 'true';
    this.$vuetify.theme.dark = enableDarkMode;
    this.themeToggle = enableDarkMode;
  },
  methods: {
    changeTheme() {
      this.$vuetify.theme.dark = this.themeToggle;
      localStorage.setItem('vuetify-mode-dark', this.themeToggle);
    },
    async logout() {
      try {
        await axios.post('auth/end-session', {}, { withCredentials: true });
      } catch (error) {
        console.log(error);
      } finally {
        this.goToLogin();
      }
    },
    goTo(path) {
      this.$router.push(path);
    },
    goToProfile() {
      this.$router.push('profile-page');
    },
    goToLogin() {
      this.$router.push('login-page');
      this.$store.dispatch('common/auth', { user: null, authenticated: false });
    },
  },
};
</script>

<style scoped>
.theme-toggle >>> .v-input__slot{
  margin-bottom: 0;
}
.user-name:hover{
  cursor: pointer;
  text-decoration: underline;
}
</style>
