<template>
  <div class="page d-flex">
    <v-card
      d-flex
      width="900"
      class="d-flex flex-column align-center ma-auto mt-16 mr-8 py-6 px-16"
    >
      <v-card-title class="mb-8">
        Змінити права користувачів
      </v-card-title>
      <v-row
        align="center"
        style="width: 100%"
        class="user-row-caption"
      >
        <v-col
          class="d-flex py-0"
          cols="12"
          sm="3"
          style="height: 30px"
        >
          <span class="font-weight-bold">Логін</span>
        </v-col>
        <v-col
          class="d-flex py-0"
          cols="12"
          sm="3"
          style="height: 30px"
        >
          <span class="font-weight-bold">Ім’я</span>
        </v-col>
        <v-col
          class="d-flex py-0"
          cols="12"
          sm="3"
          style="height: 30px"
        >
          <span class="font-weight-bold">Прізвище</span>
        </v-col>
        <v-col
          class="d-flex py-0"
          cols="12"
          sm="3"
          style="height: 30px"
        >
          <span class="font-weight-bold">Роль користувача</span>
        </v-col>
      </v-row>
      <v-row
        v-for="user in users"
        :key="user.id"
        align="center"
        style="width: 100%"
        class="user-row"
      >
        <v-col
          class="d-flex align-center py-0"
          cols="12"
          sm="3"
          style="height: 75px"
        >
          <span>{{ user.login }}</span>
        </v-col>
        <v-col
          class="d-flex align-center py-0"
          cols="12"
          sm="3"
          style="height: 75px"
        >
          <span>{{ user.firstName }}</span>
        </v-col>
        <v-col
          class="d-flex align-center py-0"
          cols="12"
          sm="3"
          style="height: 75px"
        >
          <span>{{ user.lastName }}</span>
        </v-col>
        <v-col
          class="d-flex align-center py-0"
          cols="12"
          sm="3"
          style="height: 75px"
        >
          <v-select
            v-model="user.access"
            :items="accessTypes"
            label=""
            class="mt-1"
            :disabled="!user.accessDisabledInput"
          />
          <v-icon
            class="edit-icon ml-2"
            @click="user.accessDisabledInput = true"
          >
            mdi-pencil
          </v-icon>
        </v-col>
        <v-spacer />
      </v-row>
      <v-container class="d-flex mt-8 pa-0">
        <v-btn
          :disabled="disabledSaveButton"
          color="success"
          width="150"
          class="d-inline-flex mr-0 ml-auto"
          @click="updateUsers"
        >
          Підтвердити
        </v-btn>
      </v-container>
    </v-card>
    <v-dialog
      v-model="dialogOpened"
      width="400"
    >
      <v-card class="pb-6">
        <v-btn
          icon
          class="d-flex ml-auto"
          @click="dialogOpened = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-title class="d-flex justify-center text-center">
          Дані збережені успішно!
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from '../api/backend';

export default {
  name: 'AdminPanelPage',
  data: () => ({
    dialogOpened: false,
    accessTypes: [],
    users: [],
  }),
  computed: {
    user() {
      return this.$store.state.common.user;
    },
    disabledSaveButton() {
      return this.users.every((user) => !user.accessDisabledInput);
    },
    isAdmin() {
      return this.$store.state.common.user.access === 'admin';
    },
  },
  async created() {
    if (!this.isAdmin) return this.goToProjectLogsPage();

    this.accessTypes = (await axios.get('user/access-types')).data;
    const users = (await axios.get('user/get-users')).data;

    this.users = users
      .filter((user) => user._id !== this.user.userID)
      .map((user) => ({
        id: user._id,
        login: user.login,
        firstName: user.firstName,
        lastName: user.lastName,
        access: user.access,
        accessDisabledInput: false,
      }));
  },
  methods: {
    async updateUsers() {
      await axios.put('user/update-users-roles', this.users.map((user) => ({
        id: user.id,
        access: user.access,
      })));

      this.reset();
      this.dialogOpened = true;
    },
    reset() {
      this.users.forEach((user) => user.accessDisabledInput = false);
    },
    goToProjectLogsPage() {
      this.$router.push('projects-logs-page');
    },
  },
};
</script>

<style scoped>
h1{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}
.edit-icon:after{
  content: "";
  display: none;
}
.user-row-caption{
  border-bottom: 1px solid;
}
.user-row{
  border-bottom: 1px dashed;
}
.v-text-field{
  width: 400px;
}
</style>
