<template>
  <div class="page">
    <h1>Ситема планування та контролю проектів<br>у сфері розробки програмного забеспечення</h1>
    <v-card
      d-flex
      width="500"
      class="d-flex flex-column align-center ma-auto mt-16 pa-5 pb-8"
    >
      <v-card-title>Авторизація</v-card-title>
      <v-form v-model="valid">
        <v-card-text
          v-show="showLoginError"
          class="red--text pl-0"
        >
          Неправильний логін або пароль!
        </v-card-text>
        <v-text-field
          v-model="login"
          :rules="rules"
          label="Логін"
          required
          clearable
        />
        <v-text-field
          v-model="password"
          :rules="rules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Пароль"
          required
          clearable
          @click:append="showPassword = !showPassword"
        />
        <v-container class="d-flex mt-8 pa-0">
          <v-btn
            color="blue"
            width="220"
            class="ml-auto mr-4 ml-auto white--text"
            @click="goToRegistrationPage"
          >
            Реєстрація
          </v-btn>
          <v-btn
            :disabled="!valid || disableSubmitButton"
            color="success"
            width="150"
            class="d-inline-flex mr-0"
            @click="submit"
          >
            Увійти
          </v-btn>
        </v-container>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import axios from '../api/backend';

export default {
  name: 'LoginPage',
  data: () => ({
    valid: false,
    showLoginError: false,
    disableSubmitButton: false,
    login: '',
    password: '',
    showPassword: '',
  }),
  computed: {
    rules() {
      return [
        (v) => !!v || 'Обовязкове поле!',
      ];
    },
  },
  methods: {
    submit() {
      this.showLoginError = false;
      this.disableSubmitButton = true;

      axios.post('user/login', {
        login: this.login,
        password: this.password,
      }, { withCredentials: true })
        .then((response) => {
          this.goToProjectPage();
        })
        .catch((error) => {
          this.showLoginError = error.response.status === 401;
          this.disableSubmitButton = false;
        });
    },
    goToRegistrationPage() {
      this.$router.push({ path: '/registration-page' });
    },
    goToProjectPage() {
      this.$router.push({ path: '/projects-logs-page' });
    },
  },
};
</script>

<style scoped>
.page{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url("../assets/bg-networking.jpg") center/cover no-repeat;
}
.page:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #303030;
  opacity: 0.2;
}
h1{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}
.v-text-field{
  width: 400px;
}
</style>
