<template>
  <div class="page d-flex">
    <v-card
      d-flex
      width="500"
      class="d-flex flex-column align-center ma-auto mt-16 mr-8 pa-5 pb-8"
    >
      <v-card-title>Змінити обліковий запис</v-card-title>
      <v-form v-model="profileFormValid">
        <v-row>
          <v-text-field
            v-model="login"
            :rules="rules"
            label="Логін"
            required
            clearable
            :disabled="!loginEditable"
          />
          <v-icon
            class="edit-icon ml-2"
            @click="loginEditable = true"
          >
            mdi-pencil
          </v-icon>
        </v-row>
        <v-row>
          <v-text-field
            v-model="firstName"
            :rules="rules"
            label="Ім’я"
            required
            clearable
            :disabled="!firstEditable"
          />
          <v-icon
            class="edit-icon ml-2"
            @click="firstEditable = true"
          >
            mdi-pencil
          </v-icon>
        </v-row>
        <v-row>
          <v-text-field
            v-model="lastName"
            :rules="rules"
            label="Прізвище"
            required
            clearable
            :disabled="!lastEditable"
          />
          <v-icon
            class="edit-icon ml-2"
            @click="lastEditable = true"
          >
            mdi-pencil
          </v-icon>
        </v-row>
        <v-row>
          <v-text-field
            v-model="email"
            :rules="rules"
            label="Електронна пошта"
            type="email"
            required
            clearable
            :disabled="!emailEditable"
          />
          <v-icon
            class="edit-icon ml-2"
            @click="emailEditable = true"
          >
            mdi-pencil
          </v-icon>
        </v-row>
        <v-container class="d-flex mt-8 pa-0">
          <v-btn
            :disabled="!profileFormValid || disableSaveProfileButton"
            color="blue"
            width="150"
            class="d-inline-flex mr-0 ml-auto white--text"
            @click="updateProfile"
          >
            Підтвердити
          </v-btn>
        </v-container>
      </v-form>
    </v-card>
    <v-card
      d-flex
      width="500"
      class="d-flex flex-column align-center ma-auto mt-16 mr-8 pa-5 pb-8"
    >
      <v-card-title>Змінити пароль</v-card-title>
      <v-form
        ref="passwordForm"
        v-model="passwordFormValid"
      >
        <v-card-text
          v-show="showErrorPassword"
          class="red--text pl-0"
        >
          Поточний пароль введено не правильно!
        </v-card-text>
        <v-text-field
          v-model="oldPassword"
          :rules="rules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Поточний пароль"
          required
          clearable
          @click:append="showPassword = !showPassword"
        />
        <v-text-field
          v-model="newPassword"
          :rules="rules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Новий пароль"
          required
          clearable
          @click:append="showPassword = !showPassword"
        />
        <v-container class="d-flex mt-8 pa-0">
          <v-btn
            :disabled="!passwordFormValid"
            color="success"
            width="150"
            class="d-inline-flex mr-0"
            @click="updatePassword"
          >
            Підтвердити
          </v-btn>
        </v-container>
      </v-form>
    </v-card>
    <v-dialog
      v-model="dialogOpened"
      width="400"
    >
      <v-card class="pb-6">
        <v-btn
          icon
          class="d-flex ml-auto"
          @click="dialogOpened = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-title class="d-flex justify-center text-center">
          Дані збережені успішно!
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from '../api/backend';

export default {
  name: 'RegistrationPage',
  data: () => ({
    profileFormValid: false,
    passwordFormValid: false,
    login: '',
    firstName: '',
    lastName: '',
    email: '',
    oldPassword: '',
    newPassword: '',
    showPassword: '',
    loginEditable: false,
    firstEditable: false,
    lastEditable: false,
    emailEditable: false,
    showErrorPassword: false,
    dialogOpened: false,
  }),
  computed: {
    rules() {
      return [
        (v) => !!v || 'Обовязкове поле!',
      ];
    },
    user() {
      return this.$store.state.common.user;
    },
    disableSaveProfileButton() {
      return [this.loginEditable, this.firstEditable, this.lastEditable, this.emailEditable].every((value) => !value);
    },
  },
  created() {
    this.login = this.user.login;
    this.firstName = this.user.firstName;
    this.lastName = this.user.lastName;
    this.email = this.user.email;
  },
  methods: {
    async updateProfile() {
      await axios.put('user/update', {
        id: this.user.userID,
        user: {
          login: this.login,
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
        },
      }, { withCredentials: true });

      await axios.put('auth/update-session', {
        login: this.login,
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
      }, { withCredentials: true });

      this.reset();
      this.dialogOpened = true;
    },
    async updatePassword() {
      axios.put('user/update-password', {
        id: this.user.userID,
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
      }, { withCredentials: true })
        .then((response) => {
          this.dialogOpened = true;
          this.showErrorPassword = false;
          this.$refs.passwordForm.reset();
        })
        .catch((error) => {
          this.showErrorPassword = error.response.status === 403;
        });
    },
    reset() {
      this.loginEditable = false;
      this.firstEditable = false;
      this.lastEditable = false;
      this.emailEditable = false;
    },
  },
};
</script>

<style scoped>
h1{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}
.edit-icon:after{
  content: "";
  display: none;
}
.v-text-field{
  width: 400px;
}
</style>
