<template>
  <div class="mt-10">
    <h1>Аналітика проекту</h1>
    <v-row
      align="center"
      class="mt-10"
    >
      <v-text-field
        v-model="storyKey"
        label="Ключ проекту"
        style="max-width: 200px"
        clearable
      />
      <v-btn
        color="primary"
        class="ml-6 mb-3"
        @click="runSearching"
      >
        Пошук
      </v-btn>
    </v-row>
    <section
      v-if="showContent"
      class="d-flex justify-center mt-15"
    >
      <div class="table-wrapper mr-15">
        <h2>Загальна інформація</h2>
        <v-data-table
          :headers="projectTableHeaders"
          :items="projectTableModel"
          class="project-table mt-6"
          hide-default-footer
          @click:row="onTableRowClick"
        />
      </div>
      <div class="graph-wrapper">
        <h2>Діаграма витраченого часу по активностях</h2>
        <v-chart
          class="radar-chart mt-6"
          :option="projectGraphModel"
        />
        <div
          class="legend-wrapper"
          style="margin-top: -100px; margin-left: 50px"
        >
          <div
            id="legend1"
            class="legend"
          />
          <p>Запланований час</p>
        </div>
        <div
          class="legend-wrapper"
          style="margin-left: 50px"
        >
          <div
            id="legend2"
            class="legend"
          />
          <p>Витрачений час</p>
        </div>
      </div>
    </section>
    <loading-progress :loading-active="loadingActive" />
  </div>
</template>

<script>
import Jira from '../services/jira';
import { SCOPING, BUILD, TEST } from '../config/index';
import LoadingProgress from '../components/LoadingProgress.vue';

export default {
  name: 'ProjectPage',
  components: {
    LoadingProgress,
  },
  data: () => ({
    subTasksLabels: [SCOPING, BUILD, TEST],
    loadingActive: false,
    showContent: false,
    storyKey: '',
    projectTableModel: [],
    projectGraphModel: {},
    story: {},
  }),
  computed: {
    projectTableHeaders() {
      return [
        {
          text: 'Тип',
          align: 'left',
          value: 'name',
        },
        {
          text: 'Значення',
          value: 'value',
        },
      ];
    },
  },
  methods: {
    async runSearching() {
      this.loadingActive = true;

      this.story = await Jira.getStory(this.storyKey, this.subTasksLabels);

      const taskTestKey = this.story.getSubTaskTest().key;

      const bugsKeys = await Jira.getBugsKeys(taskTestKey);

      this.story.setBugsKeys(bugsKeys);

      this.projectTableModel = this.getProjectTableModel();
      this.projectGraphModel = this.getProjectGraphModel();

      this.loadingActive = false;
      this.showContent = true;
    },
    getProjectTableModel() {
      return [
        {
          name: 'Назва проекту',
          value: this.story.summary,
        },
        {
          name: 'Ключ проекту',
          value: this.story.key,
        },
        {
          name: 'Пріоритет',
          value: this.story.priority,
        },
        {
          name: 'Статус',
          value: this.story.status,
        },
        {
          name: 'Запланований час',
          value: this.story.getSumSubTasksEstimationTime(),
        },
        {
          name: 'Витрачений час',
          value: this.story.getSumSubTasksLoggedTime(),
        },
        {
          name: 'Кількість дефектів',
          value: this.story.bugsKeys.length,
        },
        {
          name: 'Співвідношення кількості дефектів до запланованого часу',
          value: this.story.getRatioAmountBugsToEstimationTime(),
        },
        {
          name: 'Посилання',
          value: this.story.link,
          link: this.story.link,
        },
      ];
    },
    getProjectGraphModel() {
      return {
        legend: {
          data: ['Запланований час', 'Витрачений час'],
        },
        shape: 'circle',
        radar: {
          name: {
            textStyle: {
              color: '#ffffff',
              backgroundColor: '#999',
              borderRadius: 6,
              padding: [5, 5],
            },
          },
          indicator: this.story.subTasks.map((task) => ({
            name: task.summary.split(' ')[0],
            max: Math.max(task.estimation, task.logged) * 1.3,
          })),
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: { show: true },
          },
        },
        series: [
          {
            name: 'Graph',
            type: 'radar',
            lineStyle: {
              width: 5,
            },
            data: [
              {
                value: this.story.getSubTasksEstimations(),
                name: 'Запланований час',
                lineStyle: {
                  color: '#5250d7',
                },
              },
              {
                value: this.story.getSubTasksLogs(),
                name: 'Витрачений час',
                lineStyle: {
                  color: '#51a825',
                },
              },
            ],
          },
        ],
      };
    },
    onTableRowClick(item) {
      if (item.link) window.open(item.link);
    },
  },
};
</script>

<style scoped>
.radar-chart{
  width: 600px;
  height: 500px;
}
.table-wrapper,
.graph-wrapper{
  width: 50%;
}
.legend-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.legend-wrapper p{
  margin: 0;
}
.legend{
  width: 50px;
  height: 30px;
  margin-right: 20px;
}
#legend1{
  background: #5250d7;
}
#legend2{
  background: #51a825;
}
</style>
