<template>
  <div>
    <h2 class="mt-10">
      Статистика витраченого часу на проектах
    </h2>
    <div id="filterWrapper">
      <v-menu
        ref="menuStartDate"
        v-model="menuStartDateOpened"
        :return-value.sync="searchOptions.startDate"
        v-bind="menuDatePicker"
      >
        <template #activator="{ on }">
          <v-text-field
            v-model="searchOptions.startDate"
            label="Від дати"
            class="mr-14"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="searchOptions.startDate"
          no-title
          scrollable
        >
          <v-btn
            text
            color="primary"
            @click="menuStartDateOpened = false"
          >
            Відмінити
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menuStartDate.save(searchOptions.startDate)"
          >
            Підтвердити
          </v-btn>
        </v-date-picker>
      </v-menu>
      <v-menu
        ref="menuEndDate"
        v-model="menuEndDateOpened"
        class="mr-4"
        :return-value.sync="searchOptions.endDate"
        v-bind="menuDatePicker"
      >
        <template #activator="{ on }">
          <v-text-field
            v-model="searchOptions.endDate"
            label="По дату"
            class="mr-14"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="searchOptions.endDate"
          no-title
          scrollable
        >
          <v-btn
            text
            color="primary"
            @click="menuEndDateOpened = false"
          >
            Відмінити
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menuEndDate.save(searchOptions.endDate)"
          >
            Підтвердити
          </v-btn>
        </v-date-picker>
      </v-menu>
      <v-select
        v-model="searchOptions.subTasksLabels"
        :items="selectItems"
        :multiple="true"
        class="mr-14"
        label="Тип"
      />
      <v-btn
        color="primary"
        class="ml-auto"
        @click="runSearching"
      >
        Пошук
      </v-btn>
    </div>
    <v-data-table
      class="project-table mt-6"
      no-data-text="Немає даних"
      :headers="projectTableHeaders"
      :items="projectTableModel"
      :footer-props="{ 'items-per-page-text': 'Проектів на сторінці' }"
      :custom-sort="customSort"
      style="width: 1350px;"
      @click:row="onTableRowClick"
    />
    <div id="gaugeWrapper">
      <v-chart
        class="gauge-chart"
        :option="projectGraphModel"
      />
      <div id="gaugeLegendWrapper">
        <span>Період:</span> <span v-text="selectedPeriod" /><br>
        <span>Тип:</span> <span v-text="searchOptions.subTasksLabels.join(', ')" /><br>
        <span>Сума всього запланованого часу на проекти:</span> <span v-text="`${totalEstimation} год.`" /><br>
        <span>Сума витраченого часу поза планом:</span> <span v-text="`${totalOverLog} год.`" /><br>
      </div>
    </div>
    <loading-progress :loading-active="loadingActive" />
  </div>
</template>

<script>
import Jira from '../services/jira';
import LoadingProgress from '../components/LoadingProgress.vue';
import { SCOPING, BUILD, TEST } from '../config/index';

export default {
  name: 'ProjectsLogsPage',
  components: {
    LoadingProgress,
  },
  data: () => ({
    menuStartDateOpened: false,
    menuEndDateOpened: false,
    loadingActive: false,

    selectItems: [SCOPING, BUILD, TEST],
    searchOptions: {
      startDate: '2020-10-01',
      endDate: '2020-11-01',
      subTasksLabels: [SCOPING, BUILD, TEST],
    },
    storiesBudgets: {
      onTrack: 0,
      overLogLess20: 0,
      overLogMore20: 0,
    },

    totalEstimation: 0,
    totalOverLog: 0,

    projectTableModel: [],
    stories: [],
  }),
  computed: {
    menuDatePicker() {
      return {
        closeOnContentClick: false,
        transition: 'scale-transition',
        offsetY: false,
        minWidth: '290px',
      };
    },
    selectedPeriod() {
      const startDate = this.searchOptions.startDate.split('-').reverse().join(':');
      const endDate = this.searchOptions.endDate.split('-').reverse().join(':');
      return `${startDate} - ${endDate}`;
    },
    projectTableHeaders() {
      return [
        {
          text: 'Назва проекту',
          value: 'summary',
          width: '14%',
        },
        {
          text: 'Пріоритет',
          value: 'priority',
          width: '6%',
          sortable: false,
        },
        {
          text: 'Статус',
          value: 'status',
          width: '6%',
          sortable: false,
        },
        {
          text: 'Запланований час',
          value: 'estimation',
          width: '12%',
        },
        {
          text: 'Витрачений час',
          value: 'logged',
          width: '11%',
        },
        {
          text: 'Витрачений час поза планом',
          value: 'overLog',
          width: '11%',
        },
        {
          text: 'Співвідношення витраченого поза планом до запланованого часу',
          value: 'percentageOverLog',
          width: '18%',
        },
        {
          text: 'Посилання',
          value: 'link',
          width: '22%',
        },
      ];
    },
    projectGraphModel() {
      return {
        toolbox: {
          show: true,
          feature: {
            saveAsImage: { show: true },
          },
        },
        series: [
          {
            type: 'gauge',
            startAngle: 90,
            endAngle: -270,
            pointer: {
              show: false,
            },
            progress: {
              show: true,
              overlap: false,
              roundCap: true,
              clip: false,
              itemStyle: {
                borderWidth: 1,
                borderColor: '#464646',
              },
            },
            axisLine: {
              lineStyle: {
                width: 40,
              },
            },
            splitLine: {
              show: false,
              distance: 0,
              length: 10,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              show: false,
              distance: 50,
            },
            data: [
              {
                value: this.storiesBudgets.onTrack,
                name: 'В нормі',
                title: {
                  offsetCenter: ['0%', '-50%'],
                },
                detail: {
                  valueAnimation: true,
                  offsetCenter: ['0%', '-35%'],
                },
                itemStyle: {
                  normal: {
                    color: '#2E7D32',
                  },
                },
              },
              {
                value: this.storiesBudgets.overLogLess20,
                name: 'Витрачений час\nпоза планом <20%',
                title: {
                  offsetCenter: ['0%', '-12%'],
                },
                detail: {
                  valueAnimation: true,
                  offsetCenter: ['0%', '8%'],
                },
                itemStyle: {
                  normal: {
                    color: '#FFCA28',
                  },
                },
              },
              {
                value: this.storiesBudgets.overLogMore20,
                name: 'Витрачений час\nпоза планом >20%',
                title: {
                  offsetCenter: ['0%', '30%'],
                },
                detail: {
                  valueAnimation: true,
                  offsetCenter: ['0%', '50%'],
                },
                itemStyle: {
                  normal: {
                    color: '#BF360C',
                  },
                },
              },
            ],
            title: {
              fontSize: 14,
            },
            detail: {
              width: 50,
              height: 14,
              fontSize: 14,
              color: 'auto',
              borderColor: 'auto',
              borderRadius: 20,
              borderWidth: 1,
              formatter: '{value}%',
            },
          },
        ],
      };
    },
  },
  methods: {
    async runSearching() {
      this.refresh();

      this.loadingActive = true;

      this.stories = await Jira.getStories(this.searchOptions);

      this.projectTableModel = this.getProjectTableModel();

      this.projectTableModel.forEach((story) => {
        this.totalEstimation += parseInt(story.estimation);
        this.totalOverLog += parseInt(story.overLog);
      });

      this.setGraphGaugeData();

      this.loadingActive = false;
    },
    getProjectTableModel() {
      return this.stories.map((story) => ({
        summary: story.summary,
        priority: story.priority,
        status: story.status,
        estimation: story.getSumSubTasksEstimationTime(),
        logged: story.getSumSubTasksLoggedTime(),
        overLog: story.getOverLog(),
        percentageOverLog: story.getPercentageOverLog(),
        link: story.link,
      }));
    },
    setGraphGaugeData() {
      const percentagesOverLogs = this.stories.map((story) => parseInt(story.getPercentageOverLog()));
      const percentage = percentagesOverLogs.length / 100;

      this.storiesBudgets.onTrack = Math.round(percentagesOverLogs.filter((item) => item === 0).length / percentage);
      this.storiesBudgets.overLogLess20 = Math.round(percentagesOverLogs.filter((item) => item > 0 && item < 20).length / percentage);
      this.storiesBudgets.overLogMore20 = Math.round(percentagesOverLogs.filter((item) => item > 20).length / percentage);
    },
    customSort(items, type, isDesc) {
      items.sort((a, b) => {
        if (['estimation', 'logged', 'overLog', 'percentageOverLog'].includes(type[0])) {
          if (!isDesc[0]) return parseInt(b[type]) - parseInt(a[type]);
          return parseInt(a[type]) - parseInt(b[type]);
        }
      });
      return items;
    },
    onTableRowClick(item) {
      if (item.link) window.open(item.link);
    },
    refresh() {
      this.totalEstimation = 0;
      this.totalOverLog = 0;
    },
  },
};
</script>

<style scoped>
#filterWrapper{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#filterWrapper .v-input{
  flex-grow: 0;
  width: 280px;
}
#gaugeWrapper{
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}
#gaugeLegendWrapper{
  margin-bottom: 30px;
  font-size: 20px;
}
.gauge-chart{
  width: 400px;
  height: 400px;
}
</style>
