<template>
  <div>
    <h2 class="mt-10">
      Статистика дефектів на проектах
    </h2>
    <div id="filterWrapper">
      <v-menu
        ref="menuStartDate"
        v-model="menuStartDateOpened"
        :return-value.sync="searchOptions.startDate"
        v-bind="menuDatePicker"
      >
        <template #activator="{ on }">
          <v-text-field
            v-model="searchOptions.startDate"
            label="Від дати"
            class="mr-14"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="searchOptions.startDate"
          no-title
          scrollable
        >
          <v-btn
            text
            color="primary"
            @click="menuStartDateOpened = false"
          >
            Відмінити
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menuStartDate.save(searchOptions.startDate)"
          >
            Підтвердити
          </v-btn>
        </v-date-picker>
      </v-menu>
      <v-menu
        ref="menuEndDate"
        v-model="menuEndDateOpened"
        class="mr-4"
        :return-value.sync="searchOptions.endDate"
        v-bind="menuDatePicker"
      >
        <template #activator="{ on }">
          <v-text-field
            v-model="searchOptions.endDate"
            label="По дату"
            class="mr-14"
            readonly
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="searchOptions.endDate"
          no-title
          scrollable
        >
          <v-btn
            text
            color="primary"
            @click="menuEndDateOpened = false"
          >
            Відмінити
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menuEndDate.save(searchOptions.endDate)"
          >
            Підтвердити
          </v-btn>
        </v-date-picker>
      </v-menu>
      <v-btn
        color="primary"
        class="ml-auto"
        @click="runSearching"
      >
        Пошук
      </v-btn>
    </div>
    <v-data-table
      class="project-table mt-6"
      no-data-text="Немає даних"
      :headers="projectTableHeaders"
      :items="projectTableModel"
      :footer-props="{ 'items-per-page-text':'Проектів на сторінці' }"
      :custom-sort="customSort"
      style="width: 1350px;"
      @click:row="onTableRowClick"
    />
    <div id="pieWrapper">
      <v-chart
        class="pie-chart"
        :option="projectGraphModel"
      />
      <div id="pieLegendWrapper">
        <span>Період:</span> <span v-text="selectedPeriod" /><br>
        <span>Тип:</span> <span v-text="searchOptions.subTasksLabels.join(', ')" /><br>
        <span>Середне співвідношення кількості дефектів до запланованого часу:</span> <span v-text="`${averageRatioAmount}`" /><br>
      </div>
    </div>
    <loading-progress :loading-active="loadingActive" />
  </div>
</template>

<script>
import Jira from '../services/jira';
import LoadingProgress from '../components/LoadingProgress.vue';
import { SCOPING, BUILD, TEST } from '../config/index';

export default {
  name: 'ProjectsLogsPage',
  components: {
    LoadingProgress,
  },
  data: () => ({
    menuStartDateOpened: false,
    menuEndDateOpened: false,
    loadingActive: false,

    searchOptions: {
      startDate: '2020-10-01',
      endDate: '2020-11-01',
      subTasksLabels: [SCOPING, BUILD, TEST],
    },
    graphPieData: {
      sector1: [],
      sector2: [],
      sector3: [],
      sector4: [],
    },

    averageRatioAmount: 0,

    projectTableModel: [],
    stories: [],
  }),
  computed: {
    menuDatePicker() {
      return {
        closeOnContentClick: false,
        transition: 'scale-transition',
        minWidth: '290px',
        offsetY: false,
      };
    },
    selectedPeriod() {
      const startDate = this.searchOptions.startDate.split('-').reverse().join(':');
      const endDate = this.searchOptions.endDate.split('-').reverse().join(':');
      return `${startDate} - ${endDate}`;
    },
    projectTableHeaders() {
      return [
        {
          text: 'Назва проекту',
          value: 'summary',
          width: '15%',
        },
        {
          text: 'Пріоритет',
          value: 'priority',
          width: '7%',
          sortable: false,
        },
        {
          text: 'Статус',
          value: 'status',
          width: '7%',
          sortable: false,
        },
        {
          text: 'Запланований час',
          value: 'estimation',
          width: '13%',
        },
        {
          text: 'Кількість дефектів',
          value: 'amountBugs',
          width: '13%',
        },
        {
          text: 'Співвідношення кількості дефектів до запланованого часу',
          value: 'ratioAmountBugs',
          width: '21%',
        },
        {
          text: 'Посилання',
          value: 'link',
          width: '24%',
        },
      ];
    },
    projectGraphModel() {
      return {
        title: {
          text: 'Співвідношення кількості дефектів\nдо запланованого часу',
          left: 'center',
        },
        tooltip: {
          trigger: 'item',
          formatter: '{b} : ({d}%)',
        },
        legend: {
          bottom: 10,
          left: 'center',
          data: ['0 - 0.3', '0.3 - 0.6', '0.6 - 0.9', '> 0.9'],
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: { show: true },
          },
        },
        series: [
          {
            type: 'pie',
            radius: '65%',
            center: ['50%', '50%'],
            selectedMode: 'single',
            data: [
              {
                value: this.graphPieData.sector1.length,
                name: '0 - 0.3',
                itemStyle: {
                  normal: {
                    color: '#2E7D32',
                  },
                },
              },
              {
                value: this.graphPieData.sector2.length,
                name: '0.3 - 0.6',
                itemStyle: {
                  normal: {
                    color: '#FFCA28',
                  },
                },
              },
              {
                value: this.graphPieData.sector3.length,
                name: '0.6 - 0.9',
                itemStyle: {
                  normal: {
                    color: '#F57C00',
                  },
                },
              },
              {
                value: this.graphPieData.sector4.length,
                name: '> 0.9',
                itemStyle: {
                  normal: {
                    color: '#BF360C',
                  },
                },
              },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
              },
            },
          },
        ],
      };
    },
  },
  methods: {
    async runSearching() {
      this.refresh();

      this.loadingActive = true;

      this.stories = await Jira.getStories(this.searchOptions);

      for await (const story of this.stories) {
        const bugsKeys = await Jira.getBugsKeys(story.getSubTaskTest().key);
        story.setBugsKeys(bugsKeys);
      }

      this.projectTableModel = this.getProjectTableModel();

      const sum = this.stories.reduce((sum, story) => {
        sum += story.getRatioAmountBugsToEstimationTime();
        return sum;
      }, 0);

      this.averageRatioAmount = Math.round(sum / this.stories.length * 1000) / 1000;

      this.setGraphPieData();

      this.loadingActive = false;
    },
    getProjectTableModel() {
      return this.stories.map((story) => ({
        summary: story.summary,
        priority: story.priority,
        status: story.status,
        estimation: story.getSumSubTasksEstimationTime(),
        amountBugs: story.bugsKeys.length,
        ratioAmountBugs: story.getRatioAmountBugsToEstimationTime(),
        link: story.link,
      }));
    },
    setGraphPieData() {
      this.stories.forEach((story) => {
        const value = story.getRatioAmountBugsToEstimationTime();

        if (value <= 0.3) this.graphPieData.sector1.push(value);
        if (value > 0.3 && value <= 0.6) this.graphPieData.sector2.push(value);
        if (value > 0.6 && value <= 0.9) this.graphPieData.sector3.push(value);
        if (value > 0.9) this.graphPieData.sector4.push(value);
      });
    },
    customSort(items, type, isDesc) {
      items.sort((a, b) => {
        if (['estimation', 'amountBugs'].includes(type[0])) {
          if (!isDesc[0]) return parseInt(b[type]) - parseInt(a[type]);
          return parseInt(a[type]) - parseInt(b[type]);
        }
        if (['ratioAmountBugs'].includes(type[0])) {
          if (!isDesc[0]) return b[type] - a[type];
          return a[type] - b[type];
        }
      });
      return items;
    },
    onTableRowClick(item) {
      if (item.link) window.open(item.link);
    },
    refresh() {
      this.averageRatioAmount = 0;
      this.graphPieData.sector1 = [];
      this.graphPieData.sector2 = [];
      this.graphPieData.sector3 = [];
      this.graphPieData.sector4 = [];
    },
  },
};
</script>

<style scoped>
#filterWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
#filterWrapper .v-input{
  flex-grow: 0;
  width: 280px;
}
#pieWrapper{
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
#pieLegendWrapper{
  width: 400px;
  margin-bottom: 30px;
  font-size: 20px;
}
.pie-chart{
  width: 600px;
  height: 400px;
}
</style>
