<template>
  <div style="width: 1200px">
    <h1>Планування проектів</h1>
    <v-row
      justify="start"
      class="mt-8"
    >
      <v-col
        v-if="isTeamExist"
        cols="12"
        sm="8"
      >
        <v-container
          class="d-flex justify-lg-start ml-0 mr-auto pa-0"
          style="width: 300px"
        >
          <v-menu
            ref="menuStartDate"
            v-model="menuDateOpened"
            :return-value.sync="selectedDate"
            v-bind="menuDatePicker"
          >
            <template #activator="{ on }">
              <v-text-field
                v-model="selectedDate"
                label="Дата планування"
                class="mr-16"
                readonly
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="selectedDate"
              :min="minDate"
              type="month"
              class="flex-grow-0"
              no-title
              scrollable
            >
              <v-btn
                text
                color="primary"
                @click="menuDateOpened = false"
              >
                Відмінити
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="onDatePickerClick"
              >
                Підтвердити
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-container>
        <v-card
          v-if="currentPlanIndex === null"
          d-flex
          width="700"
          class="d-flex flex-column align-center mt-6 pa-5 pb-8"
        >
          <v-card-title>Планування</v-card-title>
          <v-card-text>Не заплановано...</v-card-text>
          <v-btn
            class="d-inline-flex mr-0 ml-auto white--text"
            color="blue"
            width="150"
            @click="createPlan"
          >
            Створити план
          </v-btn>
        </v-card>
        <v-card
          v-if="currentPlanIndex !== null"
          d-flex
          width="800"
          class="d-flex flex-column align-center mt-6 pa-5 pb-8"
        >
          <v-card-title>Планування</v-card-title>
          <v-data-table
            :headers="headers"
            :items="tableModel"
            :footer-props="{ 'items-per-page-text':'Проектів на сторінці' }"
            no-data-text="Немає даних"
            style="width: 100%"
            item-key="name"
            class="elevation-1"
          >
            <template #item="row">
              <tr>
                <td>{{ row.item.summary }}</td>
                <td>{{ row.item.key }}</td>
                <td>{{ row.item.status }}</td>
                <td>{{ row.item.estimation }}</td>
                <td>{{ row.item.logged }}</td>
                <td>
                  <v-btn
                    class="mx-2"
                    small
                    color="transparent"
                    @click="deleteProject(row.item.key)"
                  >
                    <v-icon dark>
                      mdi-delete-off
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
          <v-row
            class="mt-6 d-flex"
            align-content="center"
            style="width: 100%;"
          >
            <v-col
              cols="12"
              sm="5"
            >
              <v-text-field
                v-model="newProjectKey"
                label="Ключ проекту"
                class="pa-0 ma-0"
                hide-details
                clearable
              />
            </v-col>
            <v-col
              cols="12"
              sm="4"
            >
              <v-btn
                :disabled="!newProjectKey"
                color="blue"
                width="150"
                class="d-inline-flex mr-0 ml-auto px-4 white--text"
                @click="addProject"
              >
                Додати проект
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
      >
        <v-card
          v-if="!isTeamExist"
          d-flex
          width="350"
          class="d-flex flex-column align-center ml-auto pa-5 pb-8"
        >
          <v-card-title>Створити команду</v-card-title>
          <v-form
            v-model="addTeamFormValid"
            class="px-10 mt-3"
            style="width: 100%"
          >
            <v-row>
              <v-text-field
                v-model="team.name"
                label="Назва команди"
                :rules="rules"
                required
                clearable
              />
            </v-row>
            <v-row>
              <v-text-field
                v-model="team.capacity"
                label="Потужність команди"
                :rules="rules"
                type="number"
                min="0"
                required
                clearable
              />
            </v-row>
            <v-container class="d-flex mt-10 pa-0">
              <v-btn
                :disabled="!addTeamFormValid"
                color="blue"
                width="150"
                class="d-inline-flex mr-0 ml-auto white--text"
                @click="addTeam"
              >
                Підтвердити
              </v-btn>
            </v-container>
          </v-form>
        </v-card>
        <v-card
          v-if="isTeamExist"
          d-flex
          width="350"
          class="d-flex flex-column align-center ml-auto pa-5 pb-8"
        >
          <v-card-title>Оновити команду</v-card-title>
          <v-form
            v-model="updateTeamFormValid"
            class="px-10 mt-3"
            style="width: 100%"
          >
            <v-row>
              <v-text-field
                v-model="team.name"
                label="Назва команди"
                :rules="rules"
                required
                clearable
                :disabled="!teamNameEditable"
              />
              <v-icon
                class="edit-icon ml-2"
                @click="teamNameEditable = true"
              >
                mdi-pencil
              </v-icon>
            </v-row>
            <v-row>
              <v-text-field
                v-model="team.capacity"
                label="Потужність команди"
                :rules="rules"
                type="number"
                min="0"
                required
                clearable
                :disabled="!teamCapacityEditable"
              />
              <v-icon
                class="edit-icon ml-2"
                @click="teamCapacityEditable = true"
              >
                mdi-pencil
              </v-icon>
            </v-row>
            <v-container class="d-flex mt-10 pa-0">
              <v-btn
                :disabled="!updateTeamFormValid || (!teamNameEditable && !teamCapacityEditable)"
                color="blue"
                width="150"
                class="d-inline-flex mr-0 ml-auto white--text"
                @click="updateTeam"
              >
                Підтвердити
              </v-btn>
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialogOpened"
      width="400"
    >
      <v-card class="pb-6">
        <v-btn
          icon
          class="d-flex ml-auto"
          @click="dialogOpened = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-title class="d-flex justify-center text-center">
          Дані збережені успішно!
        </v-card-title>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogKeyErrorOpened"
      width="400"
    >
      <v-card class="pb-6">
        <v-btn
          icon
          class="d-flex ml-auto"
          @click="dialogKeyErrorOpened = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-card-title class="d-flex justify-center text-center red--text">
          Невірний ключ проекту!
        </v-card-title>
      </v-card>
    </v-dialog>
    <v-container class="d-flex">
      <v-container
        v-if="builds.length"
        class="mt-6 ml-0"
        style="width: 600px; height: 400px"
      >
        <v-chart
          class="graph-line-chart"
          :option="graphLineOptions"
        />
      </v-container>
      <v-container
        v-if="builds.length"
        class="mt-6 ml-0"
        style="width: 600px; height: 400px"
      >
        <v-chart
          class="nightingale-chart"
          :option="graphNightingaleOptions"
        />
      </v-container>
    </v-container>
    <loading-progress :loading-active="loadingActive" />
  </div>
</template>

<script>
import momemt from 'moment';
import axios from '../api/backend';
import Jira from '../services/jira';
import LoadingProgress from '../components/LoadingProgress.vue';

export default {
  name: 'ProjectPage',
  components: {
    LoadingProgress,
  },
  data: () => ({
    team: {
      name: '',
      capacity: '',
      plans: [],
    },

    isTeamExist: false,
    loadingActive: false,
    dialogOpened: false,
    dialogKeyErrorOpened: false,
    addTeamFormValid: false,
    updateTeamFormValid: false,
    teamNameEditable: false,
    teamCapacityEditable: false,

    menuDateOpened: false,
    selectedDate: momemt().format('YYYY-MM'),

    builds: [],
    tableModel: [],
    newProjectKey: '',
    currentPlanIndex: null,
  }),
  computed: {
    menuDatePicker() {
      return {
        closeOnContentClick: false,
        transition: 'scale-transition',
        minWidth: '290px',
        offsetY: false,
      };
    },
    minDate() {
      return momemt().format('YYYY-MM');
    },
    rules() {
      return [
        (v) => !!v.toString() || 'Обовязкове поле!',
      ];
    },
    userID() {
      return this.$store.state.common.user.userID;
    },
    headers() {
      return [
        {
          text: 'Назва проекту', value: 'summary', width: '34%', sortable: false,
        },
        {
          text: 'Ключ проекту', value: 'key', width: '18%', sortable: false,
        },
        {
          text: 'Пріоритет', value: 'status', width: '9%', sortable: false,
        },
        {
          text: 'Запланований час', value: 'estimation', width: '21%', sortable: false,
        },
        {
          text: 'Витрачений час', value: 'logged', width: '21%', sortable: false,
        },
        {
          text: '', value: '', width: '3%', sortable: false,
        },
      ];
    },
    usedCapacity() {
      return Math.round(
        this.builds.reduce((sum, build) => sum + this.getHoursTime(build.estimation, true), 0) * 10,
      ) / 10;
    },
    freeCapacity() {
      return Math.round((this.team.capacity - this.usedCapacity) * 10) / 10;
    },
    overUsedCapacity() {
      return Math.round((this.usedCapacity - this.team.capacity) * 10) / 10;
    },
    savedCapacity() {
      return Math.round(
        this.builds
          .filter((build) => build.status === 'Done')
          .reduce((sum, build) => sum + this.getHoursTime(build.estimation, true) - this.getHoursTime(build.logged, true), 0) * 10,
      ) / 10;
    },
    graphLineOptions() {
      return {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
          },
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: { show: true },
          },
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true,
        },
        xAxis: {
          type: 'value',
        },
        yAxis: {
          type: 'category',
          data: this.builds.map((build) => build.key),
        },
        series: [
          {
            type: 'bar',
            name: 'Запланований час',
            label: {
              show: true,
            },
            emphasis: {
              focus: 'series',
            },
            itemStyle: {
              color: '#00796B',
            },
            data: this.builds.map((build) => this.getHoursTime(build.estimation, true)),
          },
          {
            type: 'bar',
            name: 'Витрачений час',
            label: {
              show: true,
            },
            emphasis: {
              focus: 'series',
            },
            itemStyle: {
              color: '#FDD835',
            },
            data: this.builds.map((build) => this.getHoursTime(build.logged, true)),
          },
        ],
      };
    },
    graphNightingaleOptions() {
      return {
        tooltip: {
          trigger: 'item',
        },
        legend: {
          top: '5%',
          left: 'center',
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: { show: true },
          },
        },
        series: [
          {
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2,
            },
            label: {
              show: false,
              position: 'center',
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '15',
                fontWeight: 'bold',
              },
            },
            labelLine: {
              show: false,
            },
            data: [
              {
                name: 'Використана\nпотужність',
                value: this.usedCapacity,
                itemStyle: {
                  color: '#0288D1',
                },
              },
              {
                name: 'Вільна\nпотужність',
                value: this.freeCapacity,
                itemStyle: {
                  color: '#2E7D32',
                },
              },
              {
                name: 'Перевикористана\nпотужність',
                value: this.overUsedCapacity,
                itemStyle: {
                  color: '#BF360C',
                },
              },
              {
                name: 'Збережена\nпотужність',
                value: this.savedCapacity,
                itemStyle: {
                  color: '#AB47BC',
                },
              },
            ].filter((item) => item.value > 0),
          },
        ],
      };
    },
  },
  async created() {
    await this.initTeam();
    this.setCurrentPlanIndex();
    await this.initProjects();
  },
  methods: {
    async initTeam() {
      try {
        const { data: team } = await axios.post('team/get-team', { userID: this.userID });

        this.team.id = team._id;
        this.team.name = team.name;
        this.team.capacity = team.capacity;
        this.team.plans = team.plans;

        this.isTeamExist = true;
      } catch (error) {
        this.isTeamExist = false;
      }
    },
    async addTeam() {
      await axios.post('team/add-team', {
        userID: this.userID,
        team: {
          name: this.team.name,
          capacity: this.team.capacity,
          plans: [],
        },
      });

      await this.initTeam();

      this.dialogOpened = true;
    },
    async updateTeam() {
      await axios.put('team/update-team', {
        userID: this.userID,
        team: {
          name: this.team.name,
          capacity: this.team.capacity,
          plans: this.team.plans,
        },
      });

      this.dialogOpened = true;
      this.reset();
    },
    async initProjects() {
      this.loadingActive = true;

      const projects = this.team.plans[this.currentPlanIndex]?.projects || [];
      this.builds = await Promise.all(projects.map((key) => Jira.getIssue(key)));
      this.initProjectsTable();

      this.loadingActive = false;
    },
    async createPlan() {
      this.team.plans.push({
        date: this.selectedDate,
        projects: [],
      });

      this.setCurrentPlanIndex();
      await this.updateTeam();
      await this.initProjects();
    },
    async addProject() {
      try {
        this.loadingActive = true;
        const issue = await Jira.getIssue(this.newProjectKey);
        this.builds.push(issue);

        const planIndex = this.team.plans.findIndex((plan) => plan.date === this.selectedDate);
        this.team.plans[planIndex].projects = this.builds.map((build) => build.key);

        this.initProjectsTable();
        this.newProjectKey = '';
        await this.updateTeam();
      } catch (error) {
        this.dialogKeyErrorOpened = true;
      } finally {
        this.loadingActive = false;
      }
    },
    async deleteProject(key) {
      this.loadingActive = true;
      const index = this.builds.findIndex((build) => build.key === key);
      const planIndex = this.team.plans.findIndex((plan) => plan.date === this.selectedDate);

      this.builds.splice(index, 1);
      this.team.plans[planIndex].projects = this.builds.map((build) => build.key);

      this.initProjectsTable();
      await this.updateTeam();
      this.loadingActive = false;
    },
    onDatePickerClick() {
      this.$refs.menuStartDate.save(this.selectedDate);
      this.setCurrentPlanIndex();
      this.initProjects();
    },
    setCurrentPlanIndex() {
      const index = this.team.plans.findIndex((plan) => plan.date === this.selectedDate);
      if (index === -1) return this.currentPlanIndex = null;
      return this.currentPlanIndex = index;
    },
    initProjectsTable() {
      this.tableModel = this.builds.map((item) => ({
        summary: item.summary,
        key: item.key,
        status: item.status,
        logged: this.getHoursTime(item.logged),
        estimation: this.getHoursTime(item.estimation),
      }));
    },
    getHoursTime(time, withoutFormat) {
      if (withoutFormat) return Math.round(time * 10 / 60 / 60) / 10;
      return `${Math.round(time * 10 / 60 / 60) / 10} год.`;
    },
    reset() {
      this.teamNameEditable = false;
      this.teamCapacityEditable = false;
    },
  },
};
</script>

<style scoped>
.edit-icon:after{
  content: "";
  display: none;
}
.date-picker::v-deep .v-input{
    width: 300px !important;
}
</style>
