<template>
  <div
    v-show="loadingActive"
    id="loadingWrapper"
  >
    <v-progress-linear
      color="primary accent-4"
      indeterminate
      rounded
      height="6"
    />
  </div>
</template>

<script>
export default {
  name: 'LoadingProgress',
  props: {
    loadingActive: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
#loadingWrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loadingWrapper:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.4);
  filter: blur(1px);
}
</style>
